<h1>Listing players</h1>

<table id="players-table">
  <thead>
  <tr>
    <th class='filter-select'>Team</th>
    <th>Name</th>
    <th class='filter-select'>SOTW</th>
    <th>PS3 BIN</th>
    <th>PS3 AUC</th>
    <th>XBox BIN</th>
    <th>XBox AUC</th>
    <th>SKT/HGH</th>
    <th>SHT/LOW</th>
    <th>HND/QCK</th>
    <th>CHK/POS</th>
    <th>DEF/RBD</th>
    <th class='filter-select'>POS</th>
    <th>OVR</th>
    <th>True OVR</th>
    <th class='filter-select'>Type</th>
    <th class='filter-select'>Hand</th>
    <th>Salary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </thead>
 <tbody>
 </tbody>
</table>

<br/>

<a href="#/new">New Player</a>
